#avatar-modal {
  .modal-body {
    text-align: center;
  }
  .avatar-editor {
    margin-top: 20px;
    .avatar-editor-slider {
      margin: 0 auto;
      width: 80%;
    }
    .avatar-apply-btn {
      width: 75x;
      float: right;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
  .avatar-image-container {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 200px;
    height: 200px;
    .avatar-upload-image {
      width: 200px;
      height: 200px;
      border-radius: 200px;
    }
  }
  .camera-button {
    font-size: 80px;
    position: relative;
    top: 115px;
    left: 75px;
    .MuiSvgIcon-root {
      font-size: 30px !important;
    }
  }
  .button-row {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    .avatar-btn {
      width: 90%;
    }
  }
}